* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .game {
    background: rgb(228, 227, 227);
    font-family: sans-serif;
  }
  
  .intro {
    display: flex;
    justify-content: center;
    color: navy;
  }
  
  .container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .buttons {
    background-color: green;
    color: white;
    padding: 10px;
    cursor: pointer;
    transition: 100ms;
    margin: 10px;
  }
  
  .buttons:hover {
    transform: scale(1.2);
  }
  
  .selections {
    display: flex;
    justify-content: center;
    color: navy;
    height: 10vh;
    align-items: center;
  
  }
  
  .results {
    display: flex;
    justify-content: center;
    color: red;
    height: 10vh;
    align-items: center;
  
  }
  
  .score {
    color: navy;
    height: 20vh;
    display: flex;
    margin-left: 125px;
    margin-right: 125px;
    justify-content: space-around;
    align-items: center;
    border-style: solid;
  }
  
  .score p {
    text-align: center;
    padding: 10px;
  }
  
  